version: 1

target:
  tags:
    - "virtio:family:VIRTIO"
    - "cpu:arch:x86_64"

timeouts:
  overall:
    minutes: 2
    retries: 0
    # no retries possible here
  watchdogs:
    boot:
      minutes: 1
      retries: 0

console_patterns:
    session_end:
        regex: "^.*It's now safe to turn off your computer\r$"
    job_success:
        regex: "^.*Execution is over, pipeline status: 0\r$"
    watchdogs:
        boot:
            start:
              regex: "^Will never get matched$"
            reset:
              regex: "^Neither will this one$"
            stop:
              regex: "^But it doesn't matter$"

deployment:
  # Initial boot
  start:
    storage:
      http:
        - path: "/b2c-extra-args"
          data: >
            b2c.minio="gateway,{{ minio_url }},{{ job_bucket_access_key }},{{ job_bucket_secret_key }}"
            b2c.volume="job,mirror=gateway/{{ job_bucket }},pull_on=pipeline_start,push_on=pipeline_end,overwrite"
            b2c.volume="valvetraces,mirror=gateway/valvetraces,pull_on=pipeline_start,overwrite,remove"
            b2c.run="-ti -v job:/job_share/ -v valvetraces:/valvetraces --workdir /job_share --entrypoint=sh {% raw %}{{ job.imagestore.public.mars.image_id }}{% endraw %} -c 'cat /valvetraces/file0 file1 file2 | tee file3'"
            b2c.pipefail b2c.poweroff_delay=15

      imagestore:
        public:
          # List of images that should be pulled into the image store ahead of execution
          images:
            mars:
              name: "registry.freedesktop.org/gfx-ci/ci-tron/machine-registration:latest"
              platform: "linux/amd64"

      nbd:
        storage:
          max_connections: 5
          size: 10G
    kernel:
      cmdline:
        - console={{ local_tty_device }},115200 SALAD.machine_id={{ machine_id }}
        - b2c.ntp_peer="ci-gateway"
        - b2c.extra_args_url={{ job.http.url }}/b2c-extra-args
        - {{ imagestore.mount("public").nfs.to_b2c_filesystem("publicimgstore") }}
        - b2c.storage="additionalimagestores=publicimgstore"
        - b2c.nbd=/dev/nbd0,host=ci-gateway,port={{ '{{' }} job.nbd.storage.tcp_port }},connections=5
        - b2c.cache_device=/dev/nbd0
        - loglevel=6
