version: 1

# Rules to match for a machine to qualify
target:
  id: "{{ machine_id }}"

timeouts:
  first_console_activity:  # This limits the time it can take to receive the first console log
    minutes: 2
    retries: 0
  overall:           # Maximum time the job can take, not overrideable by the "continue" deployment
    minutes: 3
    retries: 0
    # no retries possible here

console_patterns:
    session_end:
        regex: "^.*It's now safe to turn off your computer\r$"
    job_success:
        regex: "^.*Execution is over, pipeline status: 0\r$"
    job_warn:
        regex: "^The configured console is not connected to SALAD$"

# Environment to deploy
deployment:
  # Initial boot
  start:
    storage:
        http:
          - path: "/b2c-extra-args"
            data: >
              b2c.pipefail b2c.poweroff_delay=15
              b2c.run="-ti --tls-verify=false docker://{{ fdo_proxy_registry }}/gfx-ci/ci-tron/machine-registration:latest check"

    kernel:
      cmdline:
        # NOTE: b2c.cache_device should not be here, but this works around
        # a limitation of b2c which will be removed in the next release
        - b2c.ntp_peer="ci-gateway" b2c.cache_device=auto
        - b2c.extra_args_url={{ job.http.url }}/b2c-extra-args
        - console={{ local_tty_device }},115200 earlyprintk=vga,keep SALAD.machine_id={{ machine_id }}
        - loglevel=6 nomodeset
