#!/usr/bin/bash

{% for export in exportfs_exports %}
# {{ export.path }}
mkdir -p "{{ export.path }}"
chown {{ export.owner }}:{{ export.group }} "{{ export.path }}"
chmod {{ export.mode }} "{{ export.path }}"

{% endfor %}

# Tell the executor how to mount the filesystems
private_ip=$(ip -json addr show $PRIVATE_INTERFACE | jq -r '.[].addr_info[] | select(.family == "inet").local')
cat << EOF > "{{ imagestores_root }}/config.yml"
mount:
  - type: nfs
    src: "{{ hostname }}:/imagestores"
    opts:
      - vers=4.2
      - ro
      - addr=${private_ip}
EOF
