[Unit]
Description={{ registry.unit_name }} Registry Proxy Service
Requires={{ registry.proxy_unit_name }}.socket
After={{ registry.proxy_unit_name }}.socket

[Service]
ExecStart=/usr/local/bin/socket-activate -u {{ registry.unit_name }}.service -a {{ registry.socket_path }} -r 100 -m unix
NonBlocking=true
PrivateTmp=yes
